<template>
  <div class="cart-container" v-show="cartStore.products.length">
    <div class="func-title">
      <h2>Cart</h2>
      <button @click="sortByItemNum">sort by item num</button>
    </div>

    <div class="cart-item-wrapper">
      <div
        class="cart-item"
        v-for="(item, index) in cartStore.products"
        :key="index"
      >
        <div class="cart-item-img">
          <img :src="`${server_url + item.product.images}`" alt="" />
        </div>
        <div class="cart-item-desc">
          <div class="item-detail">
            <h3>{{ item.product.name }}</h3>
            <p>{{ item.product.describe }}</p>
          </div>
          <div class="quantity-btn">
            <button @click="updateProduct(item.product, -1)">-</button>
            <button @click="updateProduct(item.product, 1)">+</button>
            <p class="quantity">
              X <span>{{ item.quantity }}</span>
            </p>
          </div>
        </div>
      </div>
    </div>

    <h2 class="total-price">
      结算 --- $<span>{{ cartStore.getTotalPrice }}</span>
    </h2>
  </div>
</template>

<script>
import { useCartStore } from "@/stores/cartStore";
export default {
  name: "Cart",
  setup() {
    let server_url = "http://apitest01.laixuexi.top:8080/";
    const cartStore = useCartStore();

    function sortByItemNum() {
      cartStore.products.sort((itemA, itemB) => {
        return itemA.quantity - itemB.quantity;
      });
    }

    function updateProduct(item, value) {
      cartStore.addProduct(item, value);
    }

    // console.log(cartStore);
    return {
      cartStore,
      server_url,
      sortByItemNum,
      updateProduct,
    };
  },
};
</script>

<style lang="less" scoped>
.cart-container {
  position: absolute;
  top: 20px;
  right: 20px;
  width: 300px;

  .func-title {
    h2 {
      text-align: center;
    }
  }

  .cart-item-wrapper {
    padding: 20px 0;

    .cart-item {
      border: 1px solid slateblue;
      display: flex;

      .cart-item-img {
        display: inline-block;

        img {
          width: 100px;
        }
      }

      .cart-item-desc {
        display: inline-flex;
        flex-direction: column;
        justify-content: space-between;
        width: 150px;
        margin-left: 30px;
        box-sizing: border-box;

        .item-detail {
          p {
            font-size: 14px;
          }
        }

        .quantity-btn {
          height: 30px;
          line-height: 30px;

          > button {
            height: 20px;
            padding: 0 10px;
            margin-right: 5px;
            font-size: 15px;
          }

          .quantity {
            float: right;
            // margin-right: 30px;

            span {
              color: teal;
              font-size: 26px;
            }
          }
        }
      }

      &:not(:last-of-type) {
        border-bottom: none;
      }
    }
  }

  .total-price {
    margin-top: 50px;
    float: right;
    border-top: 1px solid black;

    span {
      color: red;
    }
  }
}

@media only screen and (max-width: 768px) {
  .cart-container {
    position: static;
    width: 370px;
    padding: 20px;

    .cart-item-wrapper {
      .cart-item {
        .cart-item-img {
          display: inline-block;

          img {
            width: 150px;
          }
        }

        .cart-item-desc {
          margin-left: 50px;

          .quantity-btn {
            height: 50px;
            line-height: 50px;
          }
        }
      }
    }
  }
}
</style>