<template>
  <div class="product-wrapper">
    <h2>Product list</h2>
    <div class="product-list-container">
      <div class="product-item" v-for="p in products" :key="p.id">
        <div class="product-img">
          <img :src="`${server_url + p.images}`" alt="" />
        </div>
        <div class="product-desc">
          <div class="item-detail">
            <h3>{{ p.name }}</h3>
            <p>{{ p.describe }}</p>
          </div>

          <div class="item-btn">
            <p>${{ p.price }}</p>
            <button @click="addToCart(p)">add to cart</button>
          </div>
        </div>
      </div>
    </div>

    <Cart />
  </div>
</template>

<script>
import { ref } from "vue";
import { useCartStore } from "@/stores/cartStore";
import Cart from "./Cart.vue";

export default {
  name: "ShoppingCart",
  components: {
    Cart,
  },
  setup() {
    let server_url = "http://apitest01.laixuexi.top:8080/";
    let products = ref([
      {
        id: 324544028930118,
        group_id: 324544028930117,
        name: "面包",
        price: 20,
        describe: "吃了一个面包，你就不会饿了",
        tags: '[{"type":"颜色","value":"咖啡色"}]',
        images: "/upload/1.jpg",
        stock: 23,
        sell: null,
        update_time: 1657071182063,
      },
      {
        id: 324544028930119,
        group_id: 324544028930117,
        name: "水果沙拉",
        price: 15,
        describe: "好吃是好吃，但是吃了还会饿",
        tags: '[{"type":"颜色","value":"彩色"}]',
        images: "/upload/2.jpg",
        stock: 131,
        sell: null,
        update_time: 1657071182063,
      },
      {
        id: 324544028930120,
        group_id: 324544028930117,
        name: "鸡蛋",
        price: 23,
        describe: "鸡蛋好吃",
        tags: '[{"type":"颜色","value":"茶白色"}]',
        images: "/upload/3.jpg",
        stock: 50,
        sell: null,
        update_time: 1657071182063,
      },
      {
        id: 324544028930121,
        group_id: 324544028930117,
        name: "水果",
        price: 13,
        describe: "水果果果果果果果！",
        tags: '[{"type":"颜色","value":"橙色"}]',
        images: "/upload/4.jpg",
        stock: 20,
        sell: null,
        update_time: 1657071182063,
      },
      {
        id: 324544028930122,
        group_id: 324544028930117,
        name: "咖啡",
        price: 33,
        describe: "特困生的救星（专治犯困）",
        tags: '[{"type":"颜色","value":"咖啡色"}]',
        images: "/upload/5.jpg",
        stock: 10,
        sell: null,
        update_time: 1657071182063,
      },
    ]);

    const cartStore = useCartStore();

    function addToCart(p) {
      cartStore.addProduct(p, 1);
    }

    return {
      products,
      server_url,
      cartStore,
      addToCart,
    };
  },
};
</script>

<style lang="less" scoped>
.product-wrapper {
  padding: 20px 0;

  h2 {
    display: inline;
    margin-left: 150px;
    margin-top: 20px;
  }
  .product-list-container {
    width: 370px;
    padding: 20px;

    .product-item {
      display: flex;
      justify-content: space-between;
      padding: 10px 15px;
      border: 1px solid slateblue;

      .product-img {
        img {
          width: 150px;
        }
      }

      .product-desc {
        width: 53%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        .item-btn {
          display: flex;
          justify-content: space-between;

          align-items: center;
          height: 30px;

          p {
            display: inline-block;
            color: brown;
            font-weight: bold;
            font-size: 20px;
          }

          button {
            height: 20px;
            // float: right;
            // display: inline-block;
            padding: 0 5px;
          }
        }
      }

      &:not(:first-of-type) {
        border-top: none;
      }
    }
  }
}
</style>