<template>
  <div class="user-list-container">
    <!-- pagination -->
    <paginate
      v-show="userInfo.users.length"
      :page-count="pages"
      :page-range="3"
      :margin-pages="pages"
      :click-handler="clickCallback"
      :prev-text="'Prev'"
      :next-text="'Next'"
      :container-class="'pagination'"
      :page-class="'page-item'"
    >
      >
    </paginate>
    <!-- 展示欢迎词 -->
    <h2 v-show="userInfo.isFirst">欢迎使用</h2>
    <!-- 展示加载中 -->
    <h2 v-show="userInfo.isLoading">加载中...</h2>
    <!-- 展示错误信息 -->
    <h2 v-show="userInfo.errMsg">{{ userInfo.errMsg }}</h2>
    <!-- 展示用户列表 -->
    <div class="card-wrapper">
      <div
        v-show="userInfo.users.length"
        class="card"
        v-for="user in subPageUsers[currentPage]"
        :key="user.login"
      >
        <a :href="user.html_url" target="_blank">
          <img :src="user.avatar_url" style="width: 100px" />
        </a>
        <p class="card-text">{{ user.login }}</p>
      </div>
    </div>
  </div>
</template>

<script>
import usePagination from '@/hooks/usePagination'

export default {
  name: "List",
  data() {
    return {
      userInfo: {
        isFirst: true,
        isLoading: false,
        errMsg: "",
        users: [],
      },
      subPageUsers: [],
      subPageUserNum: 4,
      currentPage: 0
    };
  },
  computed: {
    pages() {
      let { users } = this.userInfo;
      let { subPageUserNum } = this;

      return Math.ceil(users.length / subPageUserNum);
    },
  },
  methods: {
    updateListData(dataObj) {
      this.userInfo = { ...this.userInfo, ...dataObj };

      this.subPageUsers = usePagination(this.userInfo.users, this.subPageUserNum)
    },
    clickCallback(pageNum) {
      this.currentPage = pageNum - 1
    },
  },
  mounted() {
    this.$bus.$on("updateListData", this.updateListData);
  },
  beforeDestroy() {
    this.$bus.$off("updateListData");
  },
};
</script>

<style lang="less">
/* less ver */
.user-list-container {
  text-align: center;
  margin-top: 20px;

  h2 {
    color: #563d7c;
  }

  .card-wrapper {
    display: grid;
    grid-template-columns: auto auto auto auto;
    gap: 15px;

    .card {
      padding: 0.75rem;
      border: 1px solid #ddd;
      text-align: center;
      transition: all .15s;
      
      img {
        margin-bottom: 0.75rem;
        border-radius: 100px;
      }

      .card-text {
        font-size: 85%;
      }

      &:hover {
        box-shadow: 0 0 10px 10px rgba(0, 0, 0, 0.075),
          0 0 8px rgba(82, 168, 236, 0.6);
        // transform: scale(1.1);
        transform:  translateY(-5px);
      }
    }
  }

  .pagination {
    display: inline-flex;
    width: 100%;
    max-width: 420px;
    margin-bottom: 20px;
    justify-content: space-between;

    li {
      box-sizing: border-box;
      height: 35px;
      line-height: 35px;
      color: rgb(86, 150, 211);
      border: 1px solid #ddd;
      text-align: center;
      transition: all 0.2s;

      &:first-child,
      &:last-child {
        border-radius: 3px;

        a {
          padding: 0 15px;
        }
      }

      &:not(:last-child) {
        border-right: none;
      }

      &:hover {
        background-color: rgb(216, 216, 216);
      }

      a {
        display: block;
        width: 35px;
        height: 35px;
      }
    }

    .active {
      background-color: rgb(216, 216, 216);
    }
  }
}

@media only screen and (max-width: 768px) {
  .user-list-container {
    text-align: left;

    .card-wrapper {
      grid-template-columns: auto auto;
    }

    .pagination {
      width: 80%;

      li {
        height: 30px;
        line-height: 30px;
        a {
          width: 28px;
        }
      }
    }
  }
}
</style>
