<template>
  <div class="footer">
    <div>
      <input type="checkbox" v-model="isAll" />
    <span>已完成{{ done }} / 全部{{ totalTodo }}</span>
    </div>
    
    <button @click="checkDone">清除已完成任务</button>
  </div>
</template>

<script>
export default {
  name: 'Footer',
  props: ['todos'],
  methods: {
    checkDone() {
      this.$bus.$emit('deleteAllDone')
    },
  },
  computed: {
    isAll: {
      get() {
        return this.done === this.totalTodo && this.done !== 0
      },
      set(val) {
        this.$bus.$emit('checkAllTodo', val)
      }
    },
    totalTodo() {
      return this.todos.length;
    },
    done() {
      return this.todos.reduce((pre, cur) => {
        return pre + (cur.checked === true ? 1 : 0);
      }, 0);
    },
  },
};
</script>

<style scoped>
.footer {
  margin: 0 auto;
  width: 80%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer input {
  margin-right: 5px;
}

.footer button {
  width: 120px;
  height: 25px;
  border: 1px solid rgb(254, 70, 29);
  color: rgb(254, 70, 29);
  background-color: white;
  border-radius: 5px;
  padding: 0 5px;
  transition: .2s;
}

.footer button:hover {
  background-color: rgb(254, 70, 29);
  color: white;
}

</style>
