<template>
  <div class="header">
    <input
      type="text"
      required="required"
      @keyup.enter="add"
      @blur="changeBlurColor"
      v-model.trim="keyWord"
      :style="inputBorderColor"
      :class="errAnimation"
    />
    <span :style="inputBorderColor">{{ tipMsg }}</span>
  </div>
</template>

<script>
import { nanoid } from 'nanoid';
export default {
  name: 'Header',
  data() {
    return {
      keyWord: '',
      inputBorderColor: '',
      errAnimation: '',
      tipMsg: 'Something to do',
    };
  },
  methods: {
    add() {
      if (this.keyWord === '') {
        this.inputBorderColor = { borderColor: 'red', color: 'red' };
        this.errAnimation = 'input-errortips';
        this.tipMsg = 'Type something...';
        return;
      }

      const todoObj = {
        id: nanoid(),
        title: this.keyWord,
        checked: false,
      };
      this.$bus.$emit('addTodo', todoObj);
      this.keyWord = '';
    },
    changeBlurColor() {
      this.inputBorderColor = '';
      this.tipMsg = 'Something to do';
    },
  },
  watch: {
    keyWord(val) {
      if (val.trim() !== '') {
        this.inputBorderColor = '';
        this.tipMsg = 'Something to do';
      }
    },
    errAnimation() {
      setTimeout(() => {
        this.errAnimation = '';
      }, 500);
    },
  },
};
</script>

<style>
.header {
  width: 80%;
  margin: 0 auto;
  margin-top: 10px;
  position: relative;
}

.header input {
  width: 90%;
  height: 25px;
  padding: 5px;
  outline: none;

  border: 1px solid #ccc;
  border-radius: 7px;

  margin-bottom: 20px;
  text-align: center;
  transition: 0.3s;
}

.header span {
  position: absolute;
  left: 0;
  right: 0;
  top: 2px;

  width: 120px;
  margin: auto;

  padding: 5px;
  pointer-events: none;
  /* font-size: 1em; */
  color: rgba(0, 0, 0, 0.25);
  font-size: 1.1em;

  transition: 0.3s;
}

.header input:valid ~ span,
.header input:focus ~ span {
  color: #00dfc4;
  transform: translateY(-10px);
  font-size: 0.9em;
  background-color: white;
  padding: 0 10px;
  border-left: 1px solid #00dfc4;
  border-right: 1px solid #00dfc4;
}

.header input:valid,
.header input:focus {
  border-color: #00dfc4;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);
}

.input-errortips {
  animation-name: errortips;
  animation-duration: 0.5s;
}

/* 文字抖動動畫 */
@keyframes errortips {
  20% {
    transform: translateX(2px);
  }
  40% {
    transform: translateX(-2px);
  }
  60% {
    transform: translateX(2px);
  }
  80% {
    transform: translateX(-2px);
  }
  100% {
    transform: translateX(0);
  }
}
</style>
