<template>
  <li>
    <label>
      <input
        type="checkbox"
        :checked="todo.checked"
        @change="handleCheck(todo.id)"
      />
      <span v-show="!todo.isEdit">{{ todo.title }}</span>
      <input
        id="edit-input"
        type="text"
        v-show="todo.isEdit"
        :value="todo.title"
        @blur="handleBlur(todo, $event)"
        @keyup.enter="handleBlur(todo, $event)"
        ref="inputTitle"
        :style="inputBorderColor"
        :class="errAnimation"
      />
    </label>
    <div class="item-btns">
      <button v-show="!todo.isEdit" @click="handleEdit(todo)">Edit</button>
      <button @click="handleDelete(todo.id)">Delete</button>
    </div>
  </li>
</template>

<script>
export default {
  name: 'Item',
  props: ['todo'],
  data() {
    return {
      inputBorderColor: '',
      errAnimation: '',
    };
  },
  methods: {
    handleCheck(id) {
      this.$bus.$emit('checkTodo', id);
    },
    handleDelete(id) {
      this.$bus.$emit('deleteTodo', id);
    },
    handleEdit(todo) {
      if (todo.hasOwnProperty('isEdit')) {
        todo.isEdit = true;
      } else {
        this.$set(this.todo, 'isEdit', true);
      }

      this.$nextTick(() => {
        this.$refs.inputTitle.focus();
      });
    },
    handleBlur(todo, e) {
      todo.isEdit = false;

      if (!e.target.value.trim()) {
        this.inputBorderColor = { borderColor: 'red'};
        this.errAnimation = 'input-errortips';
        console.log('asdad');
        todo.isEdit = true;

        /* 回復input原有樣式 */
        setTimeout(() => {
          this.inputBorderColor = '';
          this.errAnimation = '';
          this.$nextTick(() => {
            this.$refs.inputTitle.focus();
          });
        }, 500);

        return;
      }

      this.$bus.$emit('editTodo', todo.id, e.target.value.trim());
    },
  },
};
</script>

<style scoped>
li {
  width: 80%;
  height: 35px;
  line-height: 35px;
  text-align: left;

  padding: 0 10px;
  box-sizing: border-box;

  border: 1px solid #ccc;
  transition: all 0.2s;
  position: relative;
  display: flex;
  justify-content: space-between;
}

.item-btns {
  display: flex;
  align-items: center;
}

.item-btns button {
  width: 50px;
  height: 25px;

  margin: auto;
  margin-left: 5px;
  display: none;
  border: 1px solid;
  border-radius: 5px;

  transition: all 0.2s;
}

.item-btns button:nth-of-type(1) {
  border-color: rgb(170, 195, 249);
}

.item-btns button:nth-of-type(2) {
  border-color: rgb(185, 124, 255);
}

.item-btns button:nth-of-type(1):hover {
  background-color: rgb(170, 195, 249);
}
.item-btns button:nth-of-type(2):hover {
  background-color: rgb(185, 124, 255);
}

li:not(:last-of-type) {
  border-bottom: none;
}

li:hover {
  background-color: rgb(221, 221, 221);
}

li:hover button {
  display: inline-block;
}

li input {
  margin-right: 5px;
}

li span {
  cursor: pointer;
}

#edit-input {
  outline: none;
  border: 1px solid #ccc;
  width: 150px;
  border-radius: 5px;
  padding: 0 5px;
  box-sizing: border-box;
}

#edit-input:focus {
  border: 1px solid black;
}
</style>
