<template>
  <div class="list">
    <Item v-for="todo in todos" :key="todo.id" :todo="todo" />
  </div>
</template>

<script>
import Item from './Item';
export default {
  name: 'List',
  components: {
    Item,
  },
  props: ['todos'],
};
</script>

<style>
.list {
  display: flex;
  flex-direction: column;
  align-items: center;

  margin-bottom: 12px;
}
</style>
