<template>
  <div class="todolist-container">
    <h1 v-once>Todo List</h1>
    <Header />
    <List :todos="todos" />
    <Footer :todos="todos" />
  </div>
</template>

<script>
import Header from './Header';
import Footer from './Footer';
import List from './List';

export default {
  name: 'TodoList',
  components: {
    Header,
    List,
    Footer,
  },
  data() {
    return {
      todos: JSON.parse(localStorage.getItem('todos')) || [],
    };
  },
  methods: {
    addTodo(todo) {
      this.todos.push(todo);
    },
    checkTodo(todoId) {
      this.todos.forEach((todo) => {
        if (todo.id === todoId) {
          todo.checked = !todo.checked;
        }
      });
    },
    checkAllTodo(check) {
      this.todos.forEach((todo) => (todo.checked = check));
    },
    deleteTodo(todoId) {
      this.todos.forEach((todo, i) => {
        if (todoId === todo.id) {
          this.todos.splice(i, 1);
        }
      });
    },
    editTodo(id, title) {
      this.todos.forEach((todo) => {
        if (todo.id === id) {
          todo.title = title;
        }
      });
    },
    deleteAllDone() {
      this.todos = this.todos.filter((todo) => todo.checked === false);
    },
  },
  watch: {
    todos: {
      deep: true,
      handler(value) {
        localStorage.setItem('todos', JSON.stringify(value));
      },
    },
  },
  mounted() {
    this.$bus.$on('addTodo', this.addTodo);
    this.$bus.$on('checkTodo', this.checkTodo);
    this.$bus.$on('deleteTodo', this.deleteTodo);
    this.$bus.$on('checkAllTodo', this.checkAllTodo);
    this.$bus.$on('deleteAllDone', this.deleteAllDone);
    this.$bus.$on('editTodo', this.editTodo);
  },
  beforeDestroy() {
    this.$bus.$off([
      'addTodo',
      'checkTodo',
      'deleteTodo',
      'checkAllTodo',
      'deleteAllDone',
    ]);
  },
};
</script>

<style>
.todolist-container {
  width: 100%;
  /* width: 400px; */
  max-width: 400px;
  margin: 50px auto;
  padding: 12px 0;
  border: 1px solid darkcyan;
  border-radius: 10px;

  text-align: center;
  box-shadow: 2px 2px 10px rgb(0, 0, 0, 0.3);

  /* background-color: #1d2b3a; */
}
</style>
