<template>
  <section class="search-container">
    <h2>Search Github Users</h2>
    <div class="search-wrapper">
      <input
        type="text"
        placeholder="enter the name you search"
        v-model="keyWords"
      />&nbsp;
      <button @click="searchUsers">Search</button>
      <!-- <img :src="avatar" style="width: 100px;height: 100px" alt="">
      {{username}} -->
    </div>
  </section>
</template>

<script>
export default {
  name: "Search",
  data() {
    return {
      keyWords: "",
    };
  },
  methods: {

    searchUsers() {
      if (this.keyWords.trim() === '') return

      // 请求前更新List的数据
      // 触发自定义事件时候 传一个 对象
      this.$bus.$emit("updateListData", {
        isFirst: false,
        isLoading: true,
        errMsg: "",
        users: [], // 清空上一次的搜索数据
      });

      // vue-resource 里面的 API
      this.$http({
        // url: `https://api.github.com/search/users?q=${this.keyWords}`,
        url: `http://localhost:8080/api/search/users?q=${this.keyWords}`, // 走 devServer
        methods: "GET",
      }).then(
        (res) => {
          // console.log(res.data);
          // this.$bus.$emit('updateListData', false, false, '', res.data.items);

          // 请求成功后更新List数据
          this.$bus.$emit("updateListData", {
            isLoading: false,
            errMsg: "",
            users: res.data.items,
          });
        },
        (err) => {
          console.log(err.message);
          // 请求失败后后更新List数据
          this.$bus.$emit("updateListData", {
            isLoading: false,
            errMsg: err.message,
            users: [],
          });
        }
      );
    },
  },
};
</script>

<style lang="less" scoped>
section.search-container {
  h2 {
    color: rgb(86, 61, 124);
  }

  .search-wrapper {
    margin-top: 10px;

    input {
      height: 30px;
      padding: 3px 10px;
      border: none;
      border-bottom: 1px solid black;
      // border-radius: 5px;
      box-sizing: border-box;
      text-align: center;
      transition: all 0.2s;
      

      &:focus {
        outline: none;
        border-radius: 5px;
        border-color: rgb(185, 124, 255);
        box-shadow: 0 0 10px 10px rgba(0, 0, 0, 0.075),
          0 0 8px rgba(82, 168, 236, 0.6);
      }
    }

    button {
      outline: none;
      height: 30px;
      background-color: transparent;
      border-radius: 10px;
      border: 1px solid rgb(185, 124, 255);
      padding: 3px 10px;

      transition: all 0.3s;

      &:hover {
        background-color: rgb(185, 124, 255);
        color: white
      }
    }
  }
}
</style>
