<template>
  <div class="pagination-container">
    <Search />
    <UserList />
  </div>
</template>

<script>
import Search from './Search/Search.vue'
import UserList from './UserList/UserList.vue'
export default {
  name: 'Pagination',
  components: {
    Search,
    UserList,
  }
}
</script>

<style lang="less" scoped>
  .pagination-container {
    padding: 30px;
  }
</style>
