<template>
  <div class="note-container" :style="notePos" ref="note" @mousedown="handleMouse($event)">
    <textarea
      name="note.id"
      id="note.id"
      v-model="textContent"
      @blur="handleSave(note)"
      ref="textarea"
      :style="currFont"
      @click.stop="$refs.textarea.focus()"
      @focus="handleFocus"
    >
      {{ textContent }}
    </textarea>
    <div class="note-btns" >
      <div id="operation-btn">
        <button @click.stop="increFontSize">+</button>
        <button @click.stop="decreFontSize">-</button>
        <input id="fontColor" type="color" v-model="currFontColor"/>
      </div>

      <div id="delete-btn">
        <button @click="handleDelete(note)">×</button>
      </div>
    </div>
  </div>
</template>

<script>
import useDraggable from '@/hooks/useDraggable'
export default {
  name: 'Note',
  props: ['note'],
  data() {
    return {
      textContent: this.note.content,
      currFont: {},
      isBlur: true,
      unFocus: false,
      notePos: { 
        left: Math.floor(Math.random() * 200 + 100) + 'px',
        top: Math.floor(Math.random() * 200 + 100) + 'px'
      }
    };
  },
  mounted() {
    /* 创建note后, 初始化 textarea的 draggable event */
    useDraggable(this.$refs.note, this.isBlur)
  },
  methods: {
    increFontSize() {
      let currFont = parseInt(getComputedStyle(this.$refs.textarea, null).fontSize);
      this.currFont = { fontSize: currFont + 1 + 'px' };
    },
    decreFontSize() {
      let currFont = parseInt(
        getComputedStyle(this.$refs.textarea, null).fontSize
      );
      this.currFont = { fontSize: currFont - 1 + 'px' };
    },
    handleDelete(note) {
      this.$bus.$emit('deleteNote', note);
    },

    handleSave(note) {
      this.isBlur = true
      useDraggable(this.$refs.note, this.isBlur)
      this.$bus.$emit('saveNote', note, this.textContent);
    },
    handleMouse(e) {
      this.isBlur = true
      this.unFocus = true
      /* 如果鼠標點擊的是textarea */
      if (e.target === this.$refs.textarea) {
        this.isBlur = false
      }
      useDraggable(this.$refs.note, this.isBlur, this.unFocus)
    },
    handleFocus() {
      this.isBlur = false
      useDraggable(this.$refs.note, this.isBlur)
    },  
  },
  computed: {
    currFontColor: {
      get() {
        return this.currFont.color ? this.currFont.color : '#000000'
      },
      set(val) {
        this.currFont = { ...this.currFont, color: val };
      }
    }
  }
  
};
</script>

<style scoped>
.note-container {
  position: absolute;
  /* border-top: 20px solid #bfa; */
}

textarea {
  width: 100%;
  min-width: 150px;
  min-height: 100px;
  height: 100%;
  padding: 5px;
  box-sizing: border-box;
  overflow: auto;
  background-color: rgba(236, 240, 241, .7);
  border-top: 20px solid rgb(166, 100, 248);
  border-radius: 5px;
  outline: none;
}

/*定义滚动条高宽及背景
 高宽分别对应横竖滚动条的尺寸*/
textarea::-webkit-scrollbar {
  width: 10px;
  height: 16px;
  background-color: #f5f5f5;
}
/*定义滚动条轨道
 内阴影+圆角*/
textarea::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  background-color: #f5f5f5;
}
/*定义滑块
 内阴影+圆角*/
textarea::-webkit-scrollbar-thumb {
  border-radius: 10px;
  box-shadow: inset 0 0 6px rgba(95, 43, 43, 0.2);
  background-color: rgb(191, 191, 191);
}

textarea:focus {
  box-shadow: 0 0 10px rgb(158, 111, 217);
}

.note-btns {
  position: absolute;
  top: 0;
  left: 0;
  right: 15px;
  bottom: 15px;

  width: 100%;
  height: 20px;
  display: flex;
  justify-content: space-between;
}

/* ---textarea operation button */

#operation-btn button {
  width: 18px;
  height: 18px;
  border-radius: 50%;
  border: 1px solid #ccc;
  margin-top: 1px;
  margin-right: 3px;
  background-color: transparent;
  transition: 0.2s;
}

#operation-btn button:first-of-type {
  margin-left: 3px;
}

#operation-btn button:hover {
  background-color: greenyellow;
  border-color: greenyellow;
}

/* ---textarea delete button */

#delete-btn button {
  outline: none;
  border-radius: 50%;
  width: 18px;
  height: 18px;

  border: 1px solid rgb(230, 121, 121);

  transition: 0.2s;
  margin-right: 1px;
  margin-top: 1px;
  color: rgb(230, 121, 121);
}

#delete-btn button:hover {
  background-color: rgb(230, 121, 121);
  color: #ccc;
}

#fontColor {
  width: 18px;
  height: 18px;
  border: 1px solid #ccc;
  border-radius: 50%;
  background-color: transparent;

}
</style>
