<template>
  <div class="notes-panel">
    <div class="notes-panel-header">
      <h1 v-once>Sticky Notes</h1>
      <div class="menu-bar">
        <li @click="createNote">New</li>
        <li>Rerange</li>
      </div>
    </div>

    <hr />
    <Note v-for="note in notes" :key="note.nid" :note="note" />
  </div>
</template>

<script>
import { nanoid } from 'nanoid';
import Note from './Note';
export default {
  name: 'StickyNotes',
  components: {
    Note,
  },
  data() {
    return {
      notes: [],
    };
  },
  methods: {
    createNote() {
      const note = { nid: nanoid(), content: 'nothing here...'};
      this.notes.push(note);
    },
    saveNote(note, noteContent) {
      this.notes.forEach(n => {
        if (note.nid === n.nid) {
          n.content = noteContent
        }
      });
    },
    deleteNote(note) {
      this.notes = this.notes.filter(n => note.nid !== n.nid)
    },
    setNoteFontColor(color) {
      console.log(color);
    }

  },
  mounted() {
    this.$bus.$on('saveNote',this.saveNote)
    this.$bus.$on('deleteNote',this.deleteNote)
    this.$bus.$on('setNoteFontColor',this.setNoteFontColor)
  },
  beforeDestroy() {
    this.$bus.$off(['saveNote', 'deleteNote', 'setNoteFontColor'])
  },
};
</script>

<style scoped>
.notes-panel {
  width: 100%;
  height: 100%;
  position: relative;
}

.notes-panel-header {
  width: 450px;
  /* display: flex; */
  /* align-items: center; */
  display: inline-table;
  position: relative;
}

.notes-panel-header h1 {
  display: inline-table;
  position: relative;
  padding-right: 10px;
  color: rgb(86, 61, 124);
}

.notes-panel-header h1::after {
  content: '|';
  position: absolute;
  height: 1em;
  top: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  font-size: 0.6em;
  text-align: center;
}

.menu-bar {
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;

  display: inline-flex;
  /* width: 300px; */
  height: 80%;
  margin-left: 20px;
  /* border: 1px solid darkmagenta; */
}

.menu-bar li {
  width: 60px;
  padding: 5px 3px;
  cursor: pointer;
  border: 1px solid rgb(158, 111, 217);
  border-radius: 10px;
  text-align: center;
}

.menu-bar li:hover {
  background-color: rgb(158, 111, 217);
  color: white;
}

.menu-bar li:not(:last-of-type) {
  margin-right: 10px;
}
</style>
