<template>
  <div class="case-container">
    <div class="aside-container">
      <div
        class="aside"
        :style="{
          left: showAsideBar ? '0px' : '',
        }"
      >
        <li>
          <router-link
            class="case-router"
            active-class="active"
            to="/case/todolist"
            >Todo List</router-link
          >
        </li>
        <li>
          <router-link
            class="case-router"
            active-class="active"
            to="/case/stickynotes"
            >Sticky Notes</router-link
          >
        </li>
        <li>
          <router-link
            class="case-router"
            active-class="active"
            to="/case/pagination"
            >Pagination</router-link
          >
        </li>
        <li>
          <router-link class="case-router" active-class="active" to="/shoppingcart"
            >Shopping Cart</router-link
          >
        </li>
        <li>
          <router-link class="case-router" active-class="active" to=""
            >...</router-link
          >
        </li>
      </div>
      <div
        class="aside-bar"
        @click="toggleAsideBar"
        :style="{
          left: showAsideBar ? '150px' : '',
        }"
      ></div>
      <!-- 遮罩层 -->
      <div
        class="caseSideBar-overlay"
        v-show="showAsideBar"
        @click="toggleAsideBar"
      ></div>
    </div>

    <div class="panel-body">
      <div class="case-panel">
        <keep-alive>
          <router-view></router-view>
        </keep-alive>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: "Case",
  components: {},
  data() {
    return {
      showAsideBar: true,
    };
  },

  methods: {
    toggleAsideBar() {
      this.showAsideBar = !this.showAsideBar;
    },
  },
};
</script>

<style lang="less" scoped>
.case-container {
  height: 100%;

  .aside-container {
    height: 100%;
    width: 210px;
    display: flex;

    transition: all 0.5s;

    .aside {
      position: fixed;
      top: 0;
      bottom: 0;
      left: -150px;
      z-index: 200;

      width: 150px;
      /* width: 20%; */
      background-color: rgba(100, 100, 100, 0.7);

      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      
      transition: left 0.3s;

      li {
        width: 100%;
        height: 50px;
        line-height: 50px;
        text-align: center;
        font-size: 18px;
        font-weight: bold;
        border-top: 1px solid white;

        border-radius: 10px;
        transition: all 0.2s;

        .case-router {
          display: block;
          width: 100%;
          color: rgb(239, 215, 255);
          transition: backgroundColor 0.2s;
        }

        &:last-of-type {
          border-bottom: 1px solid rgb(86, 61, 124);
        }

        &:hover .case-router {
          background-color: rgb(86, 61, 124);
          border-radius: 10px;
          color: #fff;
        }
      }
    }

    .aside-bar {
      position: fixed;
      top: 0;
      bottom: 0;
      left: 0;

      width: 10px;
      height: 20%;
      margin: auto;
      background-color: rgb(158, 111, 217);
      text-align: center;
      vertical-align: middle;
      color: royalblue;

      transition: left 0.3s;
      z-index: 50;
    }

    /* 遮罩层 */
    .caseSideBar-overlay {
      // position: absolute;
      position: fixed;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      z-index: 1;
    }
  }

  /* ----panel-body---- */
  .panel-body {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;

    display: flex;
    justify-content: center;
    // padding: 10px 0 0 10px;
    transition: all 0.5s;

    .case-panel {
      width: 100%;
      height: 100%;
    }
  }
}

.toggle-aside-bar {
  // transform: translateX(-200px);
  left: 0;
}

.adjust-left {
  left: 10px;
}
</style>
