<template>
  <div class="home-container">
    <div>
      <!-- <h1>home</h1> -->
      <h2>This is a demo project</h2>
      <span>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Necessitatibus
        nisi at quo ut consequatur velit, nobis voluptatibus sunt rem aperiam
        earum numquam harum natus repudiandae eos quisquam magni voluptatum sit.
      </span>
    </div>
  </div>
</template>

<script>
export default {
  name: 'Home',
};
</script>

<style scoped>
.home-container {
  /* width: 100%; */
  height: 100%;

  background-color: rgb(233, 231, 231);
  text-align: center;

  display: flex;
  /* box-sizing: border-box; */
}

.home-container div {
  width: 500px;
  margin: auto;
  margin-top: 200px;
  
}

.home-container h2 {
  margin-bottom: 50px;
}


</style>
