<template>
  <div>
    <nav>
      <div class="nav-inner-container">
        <!-- 创建菜单图标 -->
        <ul class="menu-icon" @click="_toggleSideMenu">
          <li
            :style="{ transform: showMenu ? 'rotateZ(42deg)' : 'rotateZ(0)' }"
          ></li>
          <li :style="{ opacity: showMenu ? '0' : '1' }"></li>
          <li
            :style="{ transform: showMenu ? 'rotateZ(-42deg)' : 'rotateZ(0)' }"
          ></li>
        </ul>

        <div
          class="nav-list"
          :style="{
            left: showMenu ? '0px' : '',
          }"
        >
          <li @click="_toggleSideMenu">
            <router-link class="router-link" active-class="active" to="/home">
              Home
            </router-link>
          </li>
          <li @click="_toggleSideMenu">
            <router-link class="router-link" active-class="active" to="/case">
              Case
            </router-link>
          </li>
          <li @click="_toggleSideMenu">
            <router-link class="router-link" active-class="active" to="/about">
              About
            </router-link>
          </li>
        </div>
        <!-- 遮罩层 -->
        <div
          class="sidebar-overlay"
          v-show="showMenu"
          @click="_toggleSideMenu"
        ></div>

        <div class="login">
          <button>Login</button>
        </div>
      </div>
    </nav>
    <main class="main-body">
      <keep-alive>
        <router-view></router-view>
      </keep-alive>
    </main>
  </div>
</template>

<script>
/* function debounce(callback, delay) {
  let timer = null
  return function() {
    if (timer !== null) {
      clearTimeout(timer)
    }

    timer = setTimeout(() => {
      callback.call(this)
    }, delay)
  }
} */
// import _ from 'lodash' // 把 lodash全部功能函数引入
import debounce from 'lodash/debounce'

export default {
  name: "App",
  data() {
    return {
      showMenu: false,
      menuIconStyle: {},
    };
  },
  mounted() {
    window.addEventListener('resize', this.toggleSideMenu_)
  },
  beforeDestroy() {
    window.removeEventListener('resize', this.toggleSideMenu_)
  },
  methods: {
    _toggleSideMenu() {
      /* for mobile view port */
      if (parseInt(document.body.clientWidth) <= 768) {
        this.showMenu = !this.showMenu;
      }
    },
    toggleSideMenu_: debounce(function() {
      if (parseInt(document.body.clientWidth) > 768) {
        this.showMenu = false;   
        // console.log(this.showMenu)
      }
    }, 150)
  },
};

</script>

<style lang="less">
* {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

/* nav bar */
nav {
  width: 100vw;
  height: 48px;
  display: flex;
  background-color: rgb(52, 58, 64);
  position: fixed;

  .nav-inner-container {
    margin: 0 auto;
    width: 90%;
    max-width: 1200px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .nav-list {
      width: 50%;
      max-width: 400px;
      display: flex;
      justify-content: space-around;

      li {
        .router-link {
          border: 1px solid transparent;
          padding: 6px 18px;
          color: rgb(205, 203, 201);
          cursor: pointer;
          transition: all 0.2s;
        }

        &:hover .router-link {
          // border-radius: 10px;
          // border: 1px solid white;
          // color: rgb(52, 58, 64);
          // background-color: white;
          border-bottom: 1px solid white;
        }
      }
    }

    /* 遮罩层 */
    .sidebar-overlay {
      // position: absolute;
      position: fixed;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      z-index: 2;
    }

    .login {
      button {
        width: 70px;
        height: 30px;

        color: antiquewhite;
        background-color: rgb(86, 61, 124);
        border: transparent;
        border-radius: 10px;
        transition: all 0.2s;

        &:hover {
          background-color: rgb(185, 124, 255, 0.8);
        }
      }
    }

    .menu-icon {
      width: 18px;
      height: 100%;
      position: relative;
      display: none;
      z-index: 200;

      li {
        width: 18px;
        height: 1px;
        background-color: #fff;
        position: absolute;
        /* 改变变形的原点 */
        transform-origin: left center;
        transition: all 0.3s;

        &:nth-child(1) {
          top: 18px;
        }
        &:nth-child(2) {
          top: 24px;
        }
        &:nth-child(3) {
          top: 30px;
        }
      }

      /* &:active li:nth-child(1) {
        transform: rotateZ(42deg);
      }
      &:active li:nth-child(2) {
        opacity: 0;
      }
      &:active li:nth-child(3) {
        transform: rotateZ(-42deg);
      } */
    }
  }
}

.main-body {
  position: absolute;
  top: 48px;
  right: 0;
  left: 0;
  bottom: 0;
  z-index: -1;
}

@media only screen and (max-width: 768px) {
  nav {
    .nav-inner-container {
      .nav-list {
        // display: none;
        display: block;
        position: absolute;
        top: 0;
        left: -200px; // hidden (default)

        width: 200px;
        height: 100vh;
        padding: 50px 30px;

        // background-color: rgba(76, 76, 76, 0.7);
        background-color: rgba(108, 122, 137, 0.7);
        border-top-right-radius: 30px;
        box-sizing: border-box;

        z-index: 100;
        transition: left 0.5s;

        li {
          height: 50px;
          line-height: 50px;
          padding: 5px;
          border-bottom: 1px solid #ccc;
          text-align: center;

          .router-link {
            color: white;
            padding: 6px 2.5rem;
          }

          &:hover .router-link {
            border: 1px solid rgb(220, 167, 255);
            border-top-color: transparent;
            border-bottom-color: transparent;

            color: rgb(220, 167, 255);
            background-color: transparent;
            border-radius: 5px;
          }

          // &:hover {
          //   border-color: rgb(220, 167, 255);
          // }
        }
      }

      .menu-icon {
        display: block;
        transition: all 0.3s;
      }
    }
  }
}
</style>
